@black: #1F1E1E;
@red: #bc3324;
@red_hover: #a51505;
@white: #ffffff;
@grey: #dedede;
@grey2: #bfbfbf;
@grey3: #6C6C6C;

@black_3: fade(@black, 3%);

@font-size: 16px;

@font1: "Open Sans", sans-serif;
@font2: "mak", serif;