
h1{
  color: red;
}
.button {
  width: 150px;
  height: 50px;
}
/* Стили оформления элемента*/
.button-red {
  background: red;
  color: white;
  border: 1px solid black;
}
/* Стили содержимого */
.header .button {
  width: 250px;
}

.container{
  width: 250px;
  height: 150px;

   margin: 0 auto;
   border: 5px solid gray;
   background-color: lightblue;
}
.child {
  width: 40%;
  height: 100%;
margin: 0 auto;
  background-color: lightcoral;
}
.borders{
  width: 270px;
 height: 120px;
 margin: 0 auto;

 border-top: 5px solid gray;
 border-right: 6px dashed red;
 border-bottom: 7px dotted blue;
 border-left: 8px double green;
}
